# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/
staticfiles/

# Secrets
.env
.env.prod
.env.local
*.sql
*.json
*.dump

# Docker
.docker_ids

# OS
.DS_Store
Thumbs.db
